body {
    padding-top: 30px;
    background-image: url("https://st.depositphotos.com/1010104/4200/v/950/depositphotos_42006227-stock-illustration-abstract-wine-background.jpg");
    background-position-y: 40%
}

.navbar {
    position: fixed;
    float: left;
    top: 0;
    width: 100%;
    z-index: 1;
}

#filter_container {
    background-color: maroon;
    position: sticky;
    height: 96%;
}

#svg {
    background-color: blueviolet;
    height: 60%;
}

#multiaxis {
    background-color: maroon;
    height: 91%
}

#wiki-info {
    height: 38%;
}

.varietals {
    margin: 100 30 auto 25;
}

.footer {
    z-index: 2;
    background-color: rgb(27, 25, 25);
    height: 5%;
    position: sticky;
    bottom: 0%
}

#map {
    width: 82%;
    height: 70%
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}